## Core
Django==4.1
djangorestframework==3.13.1
django-extensions==3.2.0
django-cors-headers==3.13.0
django-environ==0.9.0
psycopg2==2.9.3

## Async
celery==5.2.7

## Push Notification
pywebpush==1.14.0  # https://github.com/web-push-libs/pywebpush

## Testing
pytest-django==4.5.2
pytest-cov==3.0.0
django-dynamic-fixture==3.1.2

## Linting
flake8==5.0.4
pre-commit==2.20.0
black==22.6.0
